@tailwind base;
@tailwind components;
@tailwind utilities;

button, html, input, select, textarea {
    font-family: Nunito Sans,SF Pro Text,SF Pro Icons,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
}
